body{
	font-family: sans-serif;
	color:#333;
	background: rgb(229,93,255);
	background: linear-gradient(90deg, rgba(229,93,255,1) 0%, rgba(0,212,255,1) 100%);
	display: grid;
	place-items: center;
	min-height:100vh;
	width: 100vw;
}

.container{
	text-align: center;
	background: #fff;
	/* height: 80vh; */
	width:30rem;
	max-width: calc(100vw - 2rem);
	border-radius: 1.5rem;
	position:relative
}

#tableContainer{
	padding:1rem;
	display: grid;
	place-items: center;
}

table{
	/* border-collapse: collapse; */
	border: 2px solid #666;
	border-radius: 1rem;
}

td {
	width: 10rem;
	padding:0.25em;
}

thead td {
	font-weight: bold;
}

td input {
	border:none;
	width:calc(100% - 0.5rem);
	height:100%;
}

td:first-child {
	border-right: 2px solid #666;
	border-bottom: 2px solid #666;
	height: 1.5rem;
}

td:last-child {
	border-bottom: 2px solid #666;
}
tbody tr:last-child td{
	border-bottom: none;
}

button {
	background: #fff;
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 0.5em;
	cursor: pointer;
}

button p {
	margin:0;
	font-size: 1.5rem;
	font-weight: bold;
	background:linear-gradient(90deg, rgba(229,93,255,1) 0%, rgba(0,212,255,1) 100%);
	background-clip: text;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.buttonContainer{
	width: 28rem;
	height:3.5rem;
	display: grid;
	place-items: center;
	/* position:absolute;
	left:1rem;
	bottom:1rem; */
	margin: 0 auto 1rem;
	padding:0.3rem;
	border-radius: 0.5em;
	background:linear-gradient(90deg, rgba(229,93,255,1) 0%, rgba(0,212,255,1) 100%);
	transition: all 0.25s ease-in-out;
}

.buttonContainer:hover {
	background: linear-gradient(207deg, rgba(229,93,255,1) 0%, rgba(0,212,255,1) 100%);
}